<% if (success && success.length) { %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <!-- <%=console.dir(success) %>  DID THIS AND SAW THAT success is an empty array-->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
