<footer class="footer bg-dark py-3 mt-auto">
    <!-- padding y axis (top and bottom) -->
    <!-- mt-auto tells footer to stay on the bottom -->
    <div class="container">
        <span class="text-muted">&copy; Yelp Camp 09AUG2022</span>
    </div>
</footer>
