#topCoff{
  color: red;
}

body{
  background-color: #F3DFC1;
  font-family: 'Ubuntu Mono', monospace;
  min-height: 100vh;
  display: flex;
}

.btn{
  background-color: #937666;
  color: black;
}



.coffeeForm{
  color: #795663;
  /* border: 2px solid black; */
  /* display: flex; */
}

.coffeesGuy{
  border: 3px solid black;
  width: 50vw;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;

}

.coffeeTry{
  /* background-color: red; */
  width: 50vw;

}

