#topCoff{
  color: red;
}

body{
  background-color: #F3DFC1;
  font-family: 'Ubuntu Mono', monospace;
}

.btn{
  background-color: #937666;
  color: black;
}
.coffee{
  color: #795663;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* .coffeeCSS{
  background-color: blue;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
} */