<% layout('/layouts/boilerplate') %>
<h1>All Users</h1>
<h2 class="card-text"><%= currentUser.username%></h2>

<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= tryIt.english%></h3>
        <h6 class="card-text"><%= tryIt.number%></h6>
        <a href="/cards/<%=tryIt._id%>" class="btn btn-primary">View Card</a>
    </div>
</div>
