<% layout('/layouts/boilerplate') %>
<h1>Make A Card</h1>
<form action="/cards" method="POST">
    <div>
        <label for="english">English</label>
        <!-- for in label has to match id below -->
        <textarea
            class="form-control"
            type="text"
            id="english"
            name="newCard[english]"
            placeholder="English"
            required
        ></textarea>
    </div>
    <div>
        <label for="spanish">Spanish</label>
        <textarea
            placeholder="Spanish"
            class="form-control"
            type="text"
            id="spanish"
            name="newCard[spanish]"
            required
        ></textarea>
    </div>
    <div>
        <label for="hintOne">Hint One</label>
        <input
            class="form-control"
            type="text"
            id="hintOne"
            name="newCard[hintOne]"
            placeholder="Hint One"
            required
        />
    </div>
    <div>
        <label for="hintTwo">Hint Two</label>
        <input
            class="form-control"
            type="text"
            id="hintTwo"
            name="newCard[hintTwo]"
            placeholder="Hint Two"
            required
        />
    </div>
    <button>Submit</button>
</form>
<a href="/cards">All Cards</a>
