<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Card</title>
    </head>
    <body>
        <h1>Make A Card</h1>
        <form action="/cards" method="POST">
            <div>
                <label for="english">English</label>
                <!-- for in label has to match id below -->
                <textarea
                    type="text"
                    id="english"
                    name="english"
                    placeholder="English"
                ></textarea>
                <!-- </div>
            <div> -->
                <label for="spanish">Spanish</label>
                <textarea
                    placeholder="Spanish"
                    type="text"
                    id="spanish"
                    name="spanish"
                ></textarea>
                <!-- </div>
            <div> -->
                <label for="hintOne">Hint One</label>
                <input
                    type="text"
                    id="hintOne"
                    name="hintOne"
                    placeholder="Hint One"
                />
                <!-- </div>
            <div> -->
                <label for="hintTwo">Hint Two</label>
                <input
                    type="text"
                    id="hintTwo"
                    name="hintTwo"
                    placeholder="Hint Two"
                />
            </div>
            <button>Submit</button>
        </form>
        <!-- <a href="/cards">All Cards</a> -->
    </body>
</html>
