<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Specific Card</title>
    </head>
    <body>
        <div>
            <h3><%= card.english%></h3>
            <h4><%= card.spanish%></h4>
            <h5><%= card.hintOne%></h5>
            <h5><%= card.hintTwo%></h5>
        </div>
        <a href="/cards">All Cards</a>
    </body>
</html>
