<% layout('/layouts/boilerplate') %>
<h1>Test</h1>
<select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
<br />
<a
    class="btn btn-primary btn-outline-dark"
    id="butty"
    href="/cards/test"
    role="button"
    >Start Test</a
>
