<% layout('/layouts/boilerplate') %>
<h1>Test</h1>
<% for(let randomDoc of randomDocs) { %>
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
    </div>
    <h3 class="card-text"><%= randomDoc.english%></h3>

    <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div> -->
</div>
<% } %>
