h1{
    color: rebeccapurple;
    text-align: center;
    text-decoration: green wavy underline;
}

button{
    color: rosybrown;
    background: black;
}

p{
    font-family: fantasy;
}

body{
    background-color: antiquewhite;
}

#noReg{
    background-color: coral;
    color: black;
}

#tenK{
    background-color: blue;
}
/* had to do as ID in label for this to work, couldnt use ID in input. Also tried as class, but no worky */