h1{
    color: rebeccapurple;
    text-align: center;
    text-decoration: green wavy underline;
    padding-top: 30px;
    background-color: burlywood;
}

button{
    color: rosybrown;
    background: black;
}

p{
    font-family: fantasy;
}

body{
    background-color: antiquewhite;
}

#noReg{
    background-color: coral;
    color: black;
}

#tenK{
    background-color: blue;
}
/* had to do as ID in label for this to work, couldnt use ID in input. Also tried as class, but no worky */

input[type="password"]{
    color: orangered;
}

button:hover{
    background-color: yellow;
}

button:active{
    background-color: brown;
}

p::selection{
    background-color: aquamarine;
}

#firstName{
    border-width: 2px;
    border-style: dashed;
    border-radius: 30px;
    border-color: brown;
}

#pad{
    border: 2px;
    border-color: black;
    border-style: solid;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
    border-radius: 25px;
}