<% layout('layouts/boilerplate') %>
<form action="/register" method="POST" class="validate-form">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            required
        />
        <div class="valid-feedback">Good</div>
    </div>
    <button class="btn btn-success">Register</button>
</form>
