<% layout('/layouts/boilerplate') %>

<h1>see friend</h1>
<br />
<a href="/yourFriends">Your Friends</a>
<br />
<div>
    <!--  -->
    <% for(let showUser of showUsers){ %>
    <!--  -->
    <% if(currentUserId != showUser.id){ %>
    <h2><%= showUser.username %></h2>
    <h2><%= showUser.id %></h2>
    <h5>
        <a
            class="btn btn-primary"
            type="submit"
            href="/friend/<%= showUser.id%>"
            >Add Friend</a
        >
    </h5>
    <% }} %>
</div>
