<% layout('/layouts/boilerplate') %>

<h1>see friend</h1>
<br />
<div>
    <!--  -->
    <% for(let showUser of showUsers){ %>
    <!--  -->
    <% if(currentUserId != showUser.id){ %>
    <h2><%= showUser.username %></h2>
    <input class="btn btn-primary" type="submit" value="Add Friend" />
    <% }} %>
</div>
