.title{
  color: red
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* ^^just one 'auto' keeps everything in one line, two 'auto' puts everything in two lines, and three 'auto' puts everything in three lines like how it be now */
  padding: 10px;
  /* ^^this, with grid-template-columns commented out, pushes everything to the right a little. MIGHT be centering numbers */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* #five{
  content-visibility: hidden;
} */

/* #one{
  content-visibility: hidden;
} */