<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/cards">Spanish</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/travel">View Travels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/travel/new">Add Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards">All Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/new">New Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/new">Test Spanish</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
