<% layout('/layouts/boilplate') %>
<h1>Edit Camp</h1>
<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input
            type="text"
            id="title"
            name="campground[title]"
            value="<%=campground.title%>"
        />
        <!-- this [title] is done to group content together -->
    </div>
    <div>
        <label for="location">Location</label>
        <input
            type="text"
            id="location"
            name="campground[location]"
            value="<%=campground.location%>"
        />
    </div>
    <button>Update Camp</button>
</form>
<a href="/campgrounds/<%= campground._id%>">Back to Camps</a>
