<% layout('/layouts/boilerplate') %>
<div class="row">
    <!-- <h1 class="text-center">New Camp</h1> -->
    <div class="col-6 offset-3">
        <h1 class="text-center">New Camp</h1>

        <form
            action="/campgrounds"
            method="POST"
            novalidate
            class="validated-form"
        >
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    name="campground[title]"
                    required
                />
                <div class="valid-feedback">That's Aight Name, Mayngs</div>
                <!-- this [title] is done to group content together -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="campground[location]"
                    required
                />
                <div class="valid-feedback">Like That Flava, Naybuh</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="campground[image]"
                    required
                />
                <div class="valid-feedback">Gucci Pic</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Camp Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input
                        type="text"
                        id="price"
                        class="form-control"
                        placeholder="0.00"
                        aria-label="price"
                        aria-describedby="price-label"
                        name="campground[price]"
                        required
                    />
                </div>
                <div class="valid-feedback">Da Price is Right, Bobby!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="description"
                    name="campground[description]"
                    required
                ></textarea>
                <div class="valid-feedback">Interesantay</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Camp</button>
            </div>
        </form>
        <a href="/campgrounds">All Camps</a>
    </div>
</div>
