<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Card</title>
    </head>
    <body>
        <form action="/cards" method="POST">
            <div>
                <label for="title">Card</label>
                <input type="text" id="cardEnglish" name="card[english]" />
                <input type="text" id="cardSpanish" name="card[spanish]" />
            </div>
            <div>
                <label for="title">Hint</label>
                <input type="text" id="hintOne" name="hint[hintOne]" />
                <input type="text" id="hintTwo" name="hint[hintTwo]" />
            </div>
            <button>Add Card</button>
        </form>
    </body>
</html>
