<%- include('partials/head')%>

        <%- include('partials/navbar')%>
        <h1>Matthias Page! <%= 4 + 5 %></h1>
        <p>
            <%= 'matt dogg'.toUpperCase() %> Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Ducimus voluptatibus, eum placeat,
            dolore facere maiores fugiat minus porro commodi quas reiciendis
            quae error. Molestias odio natus explicabo architecto dignissimos
            maxime.
        </p>
    </body>
</html>
