<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New</title>
    </head>
    <body>
        <h2>Edit Card</h2>
        <form action="/cards/<%= editCard._id %>?_method=PUT" method="POST">
            <div>
                <label for="title">Title</label>
                <input
                    name="title"
                    class="form-control"
                    type="text"
                    id="makeTitle"
                    placeholder="Title"
                    value="<%= editCard.title%>"
                    required
                />
            </div>
            <div>
                <label for="price">Price</label>
                <input
                    name="price"
                    class="form-control"
                    type="number"
                    id="makePrice"
                    placeholder="Price"
                    value="<%= editCard.price%>"
                    required
                />
            </div>
            <div>
                <label for="title">Description</label>
                <input
                    name="description"
                    class="form-control"
                    type="text"
                    id="makeDescription"
                    placeholder="Description"
                    value="<%= editCard.description%>"
                    required
                />
            </div>
            <button>Submit</button>
        </form>
        <a href="/cards">All Cards</a>
    </body>
</html>
