<% if(success && success.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <!-- alert alert-success gives us a green flash (see BS)-->
    <!-- alert-dismissable fade show makes the alert dismissable but it needs the button in order to dismiss it-->
    <!-- role of alert is for accessibility purposes for peeps needing a screen reader. The screen reader will announce the alert -->
    <%= success %> <%= console.dir('Herre is flash: ' + success) %>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    >
        <!-- this gives the 'X' to close out the flash -->
    </button>
</div>
<% } %>

<!-- https://getbootstrap.com/docs/4.0/components/alerts/#dismissing -->

<!-- I think technically EJS calls partilas - includes. It's a way of including templates in other templates. So sub templates instead of some other template. And this is a really useful feature, especially if we have some code that we're duplicating.
so rather than having to add our BS flash alert to all the templates where we want a flash to display (ex. show, edit, delete) we instead do one ejs file in our partials folder. Basically it simplifies the time it takes for us to add this code to other parts of our project. Then we 'include' it in our subtemplates (ex. boilerplate)
we create partials folder to help us identify and differentiate from other fldrs
-->
<!-- partials help reduce duplication -->
