<footer class="footer bg-dark py-3 mt-auto">
    <!-- py padding y axis (top/bottom) -->
    <!-- mt-auto places footer at the bottom, before it was hovering right under the make card link. FLEXBOX -->
    <!-- We dont do justify-content because it is going to affect everything. We could do justify-content flex-end but then everything would move down to the bottom where we want the footer. If I want one thing to move on the main axis, there's not a justify self. Instead we use margin top auto or margin left auto. -->
    <div class="container">
        <span class="text-muted">&copy;Idioma</span>
        <!-- text muted - makes text a light color -->
    </div>
</footer>

<!-- want to give my body basically a minimum height and force that down, force the footer to go to the end (bottom). We do this with flexbox and the bootstrap flexbox utilities. So we make the entire body in boilerplate use flexbox-->
