<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <!-- added: navbar-dark -- changed to:bg-dark -- added sticky-top but it might not do anything since were using updated version of BS from what Colt S. is using-->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Idioma</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                    <!-- removed: aria-current="page"  from HOME -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards">All Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/new">Make New Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/tested">Test</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Signup</a>
                <% } else { %>
                <a href="/logout" class="nav-link">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

<!-- if no one is logged in, then show login/reg links in navbar
if someone is logged in, then only show the logout link -->
