<% layout('/layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Travel</h1>
    <div class="col-6 offset-3">
        <form action="/cards" method="POST">
            <div class="mb-3">
                <label class="form-label" for="card">Card</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="english"
                    name="card[english]"
                    placeholder="English"
                >
                  </textarea/>
                </div>
                <div class="mb-3">
                <textarea
                    class="form-control"
                    type="text"
                    id="spanish"
                    name="card[spanish]"
                    placeholder="Spanish">
                  </textarea
                >
            </div>
            <div class="mb-3">
                <label class="form-label" for="hint">Hint</label>
                <input
                    class="form-control"
                    type="text"
                    id="hintOne"
                    name="card[hintOne]"
                    placeholder="Hint One"
                />
                <input
                    class="form-control"
                    type="text"
                    id="hintTwo"
                    name="card[hintTwo]"
                    placeholder="Hint Two"
                />
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input
                    type="text"
                    id="image"
                    class="form-control"
                    name="card[image]"
                />
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Card</button>
            </div>
            <div>
                <a href="/cards/">All Cards</a>
            </div>
        </form>
    </div>
</div>
