<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert alert-heading">Error!</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <hr />
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
                iste facilis libero labore magnam laborum molestiae?
            </p>
        </div>
    </div>
</div>
